body {
    color: whitesmoke;
    background-color: blue; 
}
.background {
    background-color: whitesmoke;
    color: black;
}
#newgamebutton {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: blue;
    font-size: 22px;
    font-weight: bold;
    color: gold;
    text-transform: uppercase;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px gold;
}